
@{
    ViewBag.Title = "sing up";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>sing up</title>
    <link rel="stylesheet" href="/static/master2.css">
</head>
<body>
    <div class="login-box">
        <img src="imagenes/logIn/logo.png" class="avatar" alt="Avatar Image">
        <h1>Sing up Here</h1>
        <form mmethod="post" action="/Home/Alta">
            <!-- USERNAME INPUT -->
            <label for="username">Username</label>
            <input type="text" placeholder="Enter Username" name="Username1">
            <!-- PASSWORD INPUT -->
            <label for="password">Password</label>
            <input type="password" placeholder="Enter Password" name="password1">
            <input type="submit" value="Sing up">
        </form>
    </div>
</body>
</html>
